<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row">
            <div class="col offset-2">
                <h3>Create a New Listing</h3>
                <form method="post" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" name="listing[title]" placeholder="Add a catchy title" type="text"
                            class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a title.
                        </div>
                        <div class="valid-feedback">Title looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a short description
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image-url" class="form-label">Upload Listing Image</label>

                        <input name="listing[image]" type="file" class="form-control" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>

                            <input id="price" name="listing[price]" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">
                                Price should be valid
                            </div>
                        </div>


                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" name="listing[country]" placeholder="India" type="text"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Country name should be valid
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" name="listing[location]" placeholder="Jaipur, Rajasthan" type="text"
                            class="form-control" required>
                        <div class="invalid-feedback">
                            Location should be valid
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle selected-value" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Select Category
                            </button>
                            <ul class="dropdown-menu">
                                <% let dropdown = ["farms", "rooms", "trending", "arctic", "iconic cities", "mountains", "castles", "amazing pools", "camping", "farms", "domes", "arctic", "boats"] %>
                                <% for (let item of dropdown) {%>
                                    <li><a class="dropdown-item" data-value="<%= item %>"><%= item %></a></li>
                                    <% } %>
                            </ul>
                            <input type="hidden" id="selectedCategory" name="listing[category]" class="form-control" required>
                        <button type="submit" style="display: none;">Submit</button>
                        </div>
                        <div class="invalid-feedback">
                            Please select category
                        </div>
                    </div>
                
                    <button type="submit" class="btn btn-dark add-btn">Add</button>
                </form>
            </div>
        </div>
        <script>
            (function () {
                'use strict';
                var forms = document.querySelectorAll('.needs-validation');
                Array.prototype.slice.call(forms).forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            })();

            const dropdown = document.querySelector(".dropdown")
            const dropdownItems = document.querySelectorAll('.dropdown-item');
            const selectedVlaueButton = document.querySelector(".selected-value")
            
            dropdownItems.forEach((Item) => {
                Item.addEventListener("click", (event) => {
                    const selectedValue = Item.getAttribute("data-value");
                    selectedVlaueButton.textContent = selectedValue;

                    document.getElementById("selectedCategory").value = selectedValue;
                } )
            })
            

        </script>

    </body>